<div class="page flex-center topo-layer-no-gradient">
    <div class="page-content topo-layer-above">
        <div class="grid-12">
            <div class="g-col-12">
                <span class="page-title">Environmental <span class="underline">Impacts</span></span>
                <hr class="page-title-hr"/>
                <p class="page-info width-60">Understand the impacts of urban drool. What types of pollutants does it contain, how might it impact wildlife, habitat, and people in the community.</p>
            </div>
            <div class="g-col-6 page-block">
                <p><span class="page-highlight">What pollutants does Urban Drool spread?</span></p>
                <p class="page-section-title">Fertilizer, Bacteria and Contaminants</p>
                <p class="page-section">Urban drool can carry any pollutants it encounters downstream.</p>
                <p class="page-section">This can include fertilizer, bacteria, and other contaminants that may be present on surface.</p>
                <p class="page-section">By reducing urban drool, you can help reduce the impact of these pollutants.</p>
            </div>
            <div class="g-col-6">
                <img src="./assets/home/image_6.png">
            </div>

            <div class="g-col-6">
                <img src="./assets/environmental-impacts/image_2.png">
            </div>
            <div class="g-col-6 page-block">
                <p><span class="page-highlight">What animals does Urban Drool affect</span></p>
                <p class="page-section-title">Turtles, Woodpeckers, and Roadrunners</p>
                <p class="page-section">The pollutants carried by urban drool can have negative impacts on the wildlife that live along the creeks, canyons, and natural areas in Aliso Creek Watershed.</p>
                <p class="page-section">Species that are present in this watershed include a variety of mammals, birds, reptiles, and amphibians.</p>
            </div>

            <div class="g-col-6 page-block">
                <p><span class="page-highlight">What plants does Urban Drool affect?</span></p>
                <p class="page-section-title">Blackberries, Deergrass, and Oak Trees</p>
                <p class="page-section">Many plant species thrive in the riparian areas in the Aliso Creek watershed.</p>
                <p class="page-section">Clean water is an important part of a health ecosystem.</p>
            </div>
            <div class="g-col-6">
                <img src="./assets/environmental-impacts/image_3.png">
            </div>

            <div class="g-col-6">
                <img src="./assets/environmental-impacts/image_4.png">
            </div>
            <div class="g-col-6 page-block">
                <p><span class="page-highlight">What places and habitats does Urban Drool affect?</span></p>
                <p class="page-section-title">Aliso Creek, Aliso Beach, and the Pacific Ocean</p>
                <p class="page-section">Aliso Creek has a variety of habitats, from upland communities, to free-flowing Aliso Creek, to the scenic beaches of Pacific Ocean<./p>
                <p class="page-section">By reducing urban drool these natural resources can better support the people and habitat who live nearby.</p>
            </div>

            <div class="g-col-6 page-block">
                <p><span class="page-highlight">How does Urban Drool impact people</span></p>
                <p class="page-section-title">Health, vibrant communities</p>
                <p class="page-section">Clean water supports all communities in the places they live, work, and play.</p>
                <p class="page-section">By reducing urban drool riparian areas and beaches provide benefits to neighboring communities and visitors.</p>
            </div>
            <div class="g-col-6">
                <img src="./assets/environmental-impacts/image_5.png">
            </div>
        </div>
    </div>
</div>
