<div class="page flex-center topo-layer-no-gradient">
    <div class="page-content topo-layer-above">
        <div class="grid-12">
            <div class="g-col-12">
                <span class="page-title">Environmental <span class="underline">Impacts</span></span>
                <hr class="page-title-hr"/>
                <p class="page-info width-60">Lorem ipsum dolor sit amet consectetur. Mauris feugiat sit porta egestas ut nullam commodo. Amet aenean turpis aenean rhoncus. Ut feugiat tortor aliquam elementum in malesuada ut. Netus sagittis mi nunc rhoncus aenean duis congue. Praesent etiam commodo tortor felis.</p>
            </div>
            <div class="g-col-6 page-block">
                <p><span class="page-highlight">What pollutants does Urban Drool spread?</span></p>
                <p class="page-section-title">Fertilizer, Bacteria and Contaminants</p>
                <p class="page-section">Lorem ipsum dolor sit amet consectetur. Urna quis id euismod nisi nisl magna accumsan vel sociis. Magna malesuada aenean phasellus in. Leo egestas porttitor a lobortis pellentesque tortor vehicula curabitur. Elit tortor habitant consectetur amet.</p>
                <p class="page-section">Elit tortor habitant consectetur amet. Adipiscing enim adipiscing morbi scelerisque magna. Nunc sit dolor erat morbi sed quam. Dolor nulla augue odio urna enim tristique morbi vulputate elit.</p>
                <p class="page-section">Nunc pulvinar viverra ipsum porta fames faucibus interdum. Feugiat augue diam tincidunt egestas mi.</p>
            </div>
            <div class="g-col-6">
                <img src="./assets/home/image_6.png">
            </div>

            <div class="g-col-6">
                <img src="./assets/environmental-impacts/image_2.png">
            </div>
            <div class="g-col-6 page-block">
                <p><span class="page-highlight">What animals does Urban Drool affect</span></p>
                <p class="page-section-title">Turtles, Woodpeckers, and Roadrunners</p>
                <p class="page-section">Lorem ipsum dolor sit amet consectetur. Mauris feugiat sit porta egestas ut nullam commodo. Amet aenean turpis aenean rhoncus. Ut feugiat tortor aliquam elementum in malesuada ut. Netus sagittis mi nunc rhoncus aenean duis congue. Praesent etiam commodo tortor felis.</p>
                <p class="page-section">Ut feugiat tortor aliquam elementum in malesuada ut. Netus sagittis mi nunc rhoncus aenean duis congue. Praesent etiam commodo tortor felis.</p>
            </div>

            <div class="g-col-6 page-block">
                <p><span class="page-highlight">What plants does Urban Drool affect?</span></p>
                <p class="page-section-title">Blackberries, Deergrass, and Oak Trees</p>
                <p class="page-section">Lorem ipsum dolor sit amet consectetur. Mauris feugiat sit porta egestas ut nullam commodo. Amet aenean turpis aenean rhoncus. Ut feugiat tortor aliquam elementum in malesuada ut. Netus sagittis mi nunc rhoncus aenean duis congue. Praesent etiam commodo tortor felis.</p>
                <p class="page-section">Ut feugiat tortor aliquam elementum in malesuada ut. Netus sagittis mi nunc rhoncus aenean duis congue. Praesent etiam commodo tortor felis.</p>
            </div>
            <div class="g-col-6">
                <img src="./assets/environmental-impacts/image_3.png">
            </div>

            <div class="g-col-6">
                <img src="./assets/environmental-impacts/image_4.png">
            </div>
            <div class="g-col-6 page-block">
                <p><span class="page-highlight">What places and habitats does Urban Drool affect?</span></p>
                <p class="page-section-title">Aliso  Creek, Aliso Beach, and the Pacific Ocean</p>
                <p class="page-section">Lorem ipsum dolor sit amet consectetur. Mauris feugiat sit porta egestas ut nullam commodo. Amet aenean turpis aenean rhoncus. Ut feugiat tortor aliquam elementum in malesuada ut. Netus sagittis mi nunc rhoncus aenean duis congue. Praesent etiam commodo tortor felis.</p>
                <p class="page-section">Ut feugiat tortor aliquam elementum in malesuada ut. Netus sagittis mi nunc rhoncus aenean duis congue. Praesent etiam commodo tortor felis.</p>
            </div>

            <div class="g-col-6 page-block">
                <p><span class="page-highlight">How does Urban Drool impact people</span></p>
                <p class="page-section-title">Blackberries, Deergrass, and Oak Trees</p>
                <p class="page-section">Lorem ipsum dolor sit amet consectetur. Mauris feugiat sit porta egestas ut nullam commodo. Amet aenean turpis aenean rhoncus. Ut feugiat tortor aliquam elementum in malesuada ut. Netus sagittis mi nunc rhoncus aenean duis congue. Praesent etiam commodo tortor felis.</p>
                <p class="page-section">Ut feugiat tortor aliquam elementum in malesuada ut. Netus sagittis mi nunc rhoncus aenean duis congue. Praesent etiam commodo tortor felis.</p>
            </div>
            <div class="g-col-6">
                <img src="./assets/environmental-impacts/image_5.png">
            </div>
        </div>
    </div>
</div>
