.vs
bin
Hotfixes
/_ReSharper.Caches
obj
*.dbmdl
*.jfm

*.env
*.user
DroolTool.Web/wwwroot/
DroolTool.Web/src/assets/config.json
/DroolTool.GeoServer/data_dir/geoserver-environment.properties
/DroolTool.GeoServer/data_dir/temp/*
/DroolTool.GeoServer/data_dir/tmp/*
/DroolTool.GeoServer/data_dir/.updatepassword.lock
/DroolTool.GeoServer/data_dir/security/*
/DroolTool.GeoServer/data_dir/logs/geoserver.log
DroolTool.API/appsecrets.json
/DroolTool.API/sitka.localhost.rootca.crt
Build/secrets.ini
Build/temp/DroolToolDB.bacpac
/DroolTool.GeoServer/data_dir/gwc/diskquota_page_store_hsql
