
/****** Object:  Table [dbo].[DroolToolWatershed]    Script Date: 3/18/2020 2:45:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DroolToolWatershed](
	[DroolToolWatershedID] [int] IDENTITY(1,1) NOT NULL,
	[DroolToolWatershedGeometry] [geometry] NULL,
	[DroolToolWatershedName] [varchar](50) NULL,
	[DroolToolWatershedGeometry4326] [geometry] NULL,
 CONSTRAINT [PK_DroolToolWatershed_DroolToolWatershedID] PRIMARY KEY CLUSTERED 
(
	[DroolToolWatershedID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DroolToolWatershed] ON 

SET IDENTITY_INSERT [dbo].[DroolToolWatershed] OFF
