<div class="page flex-center topo-layer-no-gradient">
    <div class="page-content topo-layer-above">
        <div class="grid-12">
            <div class="g-col-12">
                <app-alert-display></app-alert-display>
                <h1 class="page-title">Manage <span class="underline">Users</span></h1>
                <hr class="page-title-hr"/>
                <div class="page-block">
                    <p class="page-section-title">Unassigned Users</p>
                    <ng-container *ngIf="users && unassignedUsers.length; else noUnassigned">
                        <p class="page-section mb-2">This is a list of all users who are awaiting account configuration. Assign the user a role and billing account(s). If the account was created in error, set their Role to “Disabled” to remove them from this list.</p>
                        <div class="mb-4">
                            <ag-grid-angular #unassignedUsersGrid style="width: 100%; height: 250px;" class="ag-theme-balham" [rowData]="unassignedUsers"
                            [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]="100">
                            </ag-grid-angular>
                        </div>
                    </ng-container>
                    <ng-template #noUnassigned>
                        <p class="page-section">Congratulations! All users have been assigned a role.</p>
                    </ng-template>
                </div>
                <div class="flex-between">
                    <p class="page-section-title">All Users</p>
                    <button class="btn btn-orange btn-sm" (click)="exportToCsv()" title="Download list of Users"><i
                        class="fas fa-download"></i> Download</button>
                </div>
                <p class="page-section mb-2">
                    A list of users is shown in the grid below.
                </p>
                <div class="container">
                    <div class="table-responsive">
                        <ag-grid-angular #usersGrid style="width: 100%; height: 800px;" class="ag-theme-balham" [rowData]="rowData"
                        [columnDefs]="columnDefs" [pagination]="true" [paginationPageSize]="100">
                        </ag-grid-angular>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
