@import '~leaflet.fullscreen/Control.FullScreen.css';
@import '~src/scss/_variables.scss';

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }

@media only screen and (max-width: 991px) {
    .section-search {
        text-align:center;
    }
}

#buttonDiv {
    position:absolute; 
    z-index:10000; 
    top:11px; 
    left:10px;
}

.instructions-toast {
    position:absolute;
    left:50%;
    top:50%;
    z-index:10000;
    height:190px;
    width:350px;
    margin-left:-175px;
    margin-top:-95px;
}

.input-group {
    color:#333
}

.section-search {
    background-color: $header-nav-color;
}

.section-search * h3 {
    font-size: 18px;
}

.search-close {
    font-size:1.5rem;
    cursor:pointer;
}

.section-stats * h3,
.section-search-not-found * h3 {
    color: #1E5668;
    font-size:16px;
}

.section-stats * .b3 {
    font-size:16px;
    color: #1E5668;
}

.metric-color-swatch {
    width:30px;
    height:30px;
    opacity:0.75;
}

.selected-watershed {
    box-shadow: 0 0 0 0.2rem rgba(234,132,44,0.5);
}

//These need to be the same so the metrics slide doesn't jump around the width of the map
.mobile-stats,
.mobile-stats-containing-div {
    max-width:233px;
}

.mobile-stats {
    position:absolute; 
    z-index:100001; 
}

.mobile-stats-containing-div {
    width:100%;
    position:relative
}

.metrics-button-panel-collapsed {
    position:absolute;
    top:10px; 
    left:10px; 
    z-index:100000
}

.metrics-button-panel-expanded {
    position:absolute; 
    top:7px; 
    right:2px
}

.metrics-panel-transparency {
    background-color:rgba(255,255,255,0.75)
}

.metrics-panel-transparency-special {
    background-color: rgba(242,251,253,0.75)
}

//Allows the metrics to collapse
.metrics-collapse {
    position: absolute;
    right: 100%;
    transition: all 0.3s ease;
    display: block;
}
.metrics-collapse.collapsing {
    height: auto !important;
    transition: all 0.3s ease;
    display: block;
}
.metrics-collapse.show {
    left:0;
    right:0
}
//End of metrics collapse

::ng-deep .search-popup .leaflet-popup-content-wrapper {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    background-color: #D3F8FF;
}

::ng-deep .search-popup .leaflet-popup-content-wrapper .search-popup-address{
    font-weight: 800;
}

::ng-deep .leaflet-popup-tip-container {
    display:none;
}

//This is hijacking the top left control and using it
//for the loading icon that will sit in the middle of
//the screen
::ng-deep .leaflet-top.leaflet-left {
    left:50%;
    top: 51%;
    transform: translate(-75%, 0%);
}

//ng5Slider styles
::ng-deep .ng5-slider {
    margin-top: 15px !important;
    margin-bottom: 76px !important;
}

::ng-deep .ng5-slider .ng5-slider-tick-legend {
    color: #FFF;
    top: 14px !important;
    webkit-transform: translate(0%, 0%) rotate(65deg) !important;
    transform: translate(0%, 0%) rotate(65deg) !important;
    transform-origin: 0% 50%;
}

::ng-deep .ng5-slider .ng5-slider-disabled-legend {
    color: #999;
}

::ng-deep .ng5-slider .ng5-slider-disabled-tick {
    background-color: #999 !important;
}

::ng-deep .ng5-slider .ng5-slider-pointer {
    width:25px !important;
    height:25px !important;
    top:-11px !important;
    margin-left:4px !important;
}

::ng-deep .ng5-slider .ng5-slider-pointer:after {
    width: 20px !important;
    height: 20px !important;
    top: 3px !important;
    left: 3px !important;
    border-radius: 13px !important;
}

::ng-deep .ng5-slider .ng5-slider-pointer.ng5-slider-active:after {
    background-color:#fff !important;
}

::ng-deep .shake {
    animation: shake 1s;
}

::ng-deep .ng5-slider .ng5-slider-pointer:focus {
    outline:none
}