@import '~leaflet.fullscreen/Control.FullScreen.css';
@import '~src/scss/_variables.scss';

@media only screen and (max-width: 991px) {
    .section-search {
        text-align:center;
    }
}

.input-group {
    color:#333
}

.section-search {
    background-color: $header-nav-color;
}

.section-search * h3 {
    font-size: 18px;
}

.section-stats * h3,
.section-search-not-found * h3 {
    color: #1E5668;
    font-size:16px;
}

.section-stats * .b3 {
    font-size:16px;
    color: #1E5668;
}

.metric-color-swatch {
    width:30px;
    height:30px;
    opacity:0.75;
}

.selected-watershed {
    box-shadow: 0 0 0 0.2rem rgba(234,132,44,0.5);
}

::ng-deep .search-popup .leaflet-popup-content-wrapper {
    font-family: "Nunito", sans-serif;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    background-color: #D3F8FF;
}

::ng-deep .search-popup .leaflet-popup-content-wrapper .search-popup-address{
    font-weight: 800;
}

::ng-deep .leaflet-popup-tip-container {
    display:none;
}