<div class="row ml-0 mr-0">
    <div #largePanel class="col-lg-3 pl-0 pr-0">
        <div class="container-lg d-inline d-lg-flex flex-column min-vh-100 p-0">
            <div class="row ml-0 mr-0 flex-fill flex-column">
                <div class="col-12 p-4 section-search">
                    <div class="container p-0">
                        <div class="row">
                            <div class="col-12 mx-auto mx-lg-0">
                                <h3 style="color:white">Choose from one of the metrics below <span class="d-lg-none"><a
                                            class="search-close" (click)="showInstructions = true"><i
                                                class="far fa-question-circle"></i></a></span></h3>
                                <select [(ngModel)]="selectedMetric" class="input-group mx-auto mx-lg-0 mb-1"
                                    style="max-width:353px" (change)="displayNewMetric()">
                                    <option *ngFor="let metric of metrics" [ngValue]="metric">{{metric}}</option>
                                </select>
                                <h3 style="color:white">Choose a watershed</h3>
                                <select [(ngModel)]="selectedWatershed" class="input-group mx-auto mx-lg-0 mb-1"
                                    style="max-width:353px" (change)="getNewWatershedMask()">
                                    <option *ngFor="let watershedName of watershedNames" [ngValue]="watershedName">{{watershedName}}</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="showInstructions && !activeSearchNotFound" class="col-12 d-lg-none">
                    <div class="row">
                        <div class="col-12 text-right">
                            <span><a class="search-close" (click)="showInstructions = false"><i
                                        class="fas fa-close"></i></a></span>
                        </div>
                    </div>
                    <div class="row section-stats">
                        <div class="col-12 text-center mb-3">
                            <h3 class="mb-0 pl-2 pr-2">
                                Click the exposed areas of the map to explore different watershed metrics
                            </h3>
                        </div>
                    </div>
                </div>
                <div *ngIf="activeSearchNotFound" class="col-12 p-lg-4 flex-fill">
                    <div class="row">
                        <div class="col-12 text-right">
                            <span><a class="search-close" (click)="returnToDefault()"><i
                                        class="fas fa-close"></i></a></span>
                        </div>
                    </div>
                    <div class="row section-search-not-found">
                        <div class="col-2 m-auto p-0 text-center">
                            <span><i class="fas fa-exclamation fa-3x"></i></span>
                        </div>
                        <div class="col-10 my-auto">
                            <h3 class="mb-0">Sorry, the area you selected is not within the
                                Urban Drool Tool service area.
                            </h3>
                        </div>
                    </div>
                    <br />
                    <div class="row section-search-not-found mb-1">
                        <div class="col-2 text-center m-auto p-0 text-center">
                            <span><i class="fas fa-map-marker-alt fa-3x"></i></span>
                        </div>
                        <div class="col-10 my-auto">
                            <h3 class="mb-0">
                                Select an area within the highlighted service
                                boundary to view results.
                            </h3>
                        </div>
                    </div>
                </div>
                <div *ngIf="!activeSearchNotFound && selectedMetric == WatershedExplorerMetric.NoMetric"
                    class="col-12 section-stats d-none d-lg-flex p-lg-4 flex-fill">
                    <div class="h-100 mt-auto mb-auto">
                        <h3>
                            Learn about how your watershed is conserving water and protecting our streams and beaches
                        </h3>
                        <h3 class="text-center">
                            <span><i class="fas fa-tint fa-2x"></i></span>
                        </h3>
                        <h3>
                            Click the exposed areas of the map to explore different watershed metrics
                        </h3>
                    </div>
                </div>
                <div *ngIf="!activeSearchNotFound && selectedMetric != WatershedExplorerMetric.NoMetric"
                    class="col-12 section-stats d-none d-lg-flex p-lg-4 flex-fill">
                    <div class="h-100 w-100 m-auto">
                        <p class="b3 text-left">Displaying data for {{months[selectedMetricMonth - 1]}}
                            {{selectedMetricYear}}</p>
                        <ng-container *ngFor="let legendColor of selectedMetric.legendColors; index as i">
                            <div class="row mb-1">
                                <div class="col-2 mt-auto mb-auto">
                                    <div class="metric-color-swatch" [style.background]="legendColor"></div>
                                </div>
                                <div class="col-10">
                                    <p class="b3 mt-auto mb-auto text-left">
                                        {{selectedMetric.legendValues[i]}}
                                    </p>
                                </div>
                            </div>
                        </ng-container>
                        <p class="b3 text-left">*Measured in {{selectedMetric.metricUnits}}</p>
                    </div>
                </div>
                <div *ngIf="searchActive" class="col-12 d-none d-lg-flex p-lg-4">
                    <div class="row w-100">
                        <div class="col-12 mb-1 text-center">
                            <button (click)="displayTrace($event, true)" class="btn btn-drooltool"
                                style="width:161px">Trace Upstream</button>
                        </div>
                        <div class="col-12 text-center">
                            <button (click)="displayTrace($event, false)" class="btn btn-drooltool"
                                style="width:161px">Trace Downstream</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-9 pl-0 pr-0">
        <div #mapDiv id={{mapID}} class="location-card" [style.min-height]="mapHeight" style="height:100%">
        </div>
    </div>
    <div *ngIf="searchActive" class="d-lg-none w-100">
        <div class="col-12 mb-1 p-0 text-center">
            <button (click)="displayTrace($event, true)" class="btn btn-drooltool w-100">Trace Upstream</button>
        </div>
        <div class="col-12 mb-1 p-0 text-center">
            <button (click)="displayTrace($event, false)" class="btn btn-drooltool w-100">Trace Downstream</button>
        </div>
    </div>
    <div *ngIf="!activeSearchNotFound && selectedMetric != WatershedExplorerMetric.NoMetric"
        class="col-12 section-stats d-lg-none mt-1">
        <div class="h-100 w-100 m-auto">
            <p class="b3">Displaying data for {{months[selectedMetricMonth - 1]}} {{selectedMetricYear}}</p>
            <ng-container *ngFor="let legendColor of selectedMetric.legendColors; index as i">
                <div class="row mb-1">
                    <div class="col-5 mt-auto mb-auto">
                        <div class="metric-color-swatch ml-auto" [style.background]="legendColor"></div>
                    </div>
                    <div class="col-7">
                        <p class="b3 mt-auto mb-auto text-left">
                            {{selectedMetric.legendValues[i]}}
                        </p>
                    </div>
                </div>
            </ng-container>
            <p class="b3">*Measured in {{selectedMetric.metricUnits}}</p>
        </div>
    </div>
</div>