<header>
    <nav class="site-nav">
        <a routerLink="/" routerLinkActive="active">
            <img src="assets/main/logos/udt_color_logo.png" class="navbar-logo">
        </a>

        <ng-container *ngIf="isAuthenticated() && isAssigned()">
            <button
                class="hamburger-btn"
                [dropdownToggle]="mobileMenuToggle"
                #mobileMenuToggleButton="dropdownToggleName"
                type="button"
                aria-controls="hamburger-btn"
                aria-expanded="false"
                data-cy="mainMenu">
                <span class="sr-only">Open main menu</span>
                <svg aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 15a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z" clip-rule="evenodd"></path>
                </svg>
            </button>

            <div class="site-nav__wrapper" #mobileMenuToggle>
                <button class="site-nav__close" type="button" [dropdownToggleClose]="mobileMenuToggleButton">
                    <i class="fas fa-times-circle"></i>
                </button>

                <a routerLink="/" routerLinkActive="active">
                    <img src="assets/main/logos/udt_color_logo.png" class="navbar-logo-mobile">
                </a>

                <ul class="site-nav__links site-nav__main">
                    <li class="nav-item">
                        <a [routerLink]="['/map-explorer']" class="nav-link" role="button" routerLinkActive="active">
                            <span class="nav-link__label">Map Explorer</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/environmental-impacts']" class="nav-link" role="button" routerLinkActive="active">
                            <span class="nav-link__label">Environmental Impacts</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a [routerLink]="['/take-action']" class="nav-link" role="button" routerLinkActive="active">
                            <span class="nav-link__label">Take Action</span>
                        </a>
                    </li>
                    <li *ngIf="isAdministrator()" class="nav-item">
                        <a [routerLink]="['/users']" class="nav-link" role="button" routerLinkActive="active">
                            <span class="nav-link__label">Manage Users</span>
                        </a>
                    </li>
                </ul>
            </div>
        </ng-container>
    </nav>
</header>
