.homeSection {
    padding-top: 80px;
    min-height: 680px;
}

h1 {
    color:#ea842c;
    margin-bottom:30px;
}

.neighborhood-button {
    margin-bottom: 20px
}

.container-fluid {
    padding:20px;
}

#topImage {
    width:100%;
}

#mapImage {
    background-image:url(../../../../assets/main/Map_Background.png); 
    background-size:cover;
    margin-top:80px;
}

#waterPlantsImage {
    max-width:300px;
    width:100%;
}

#resourceImage {
    max-width: 500px;
    width:100%;
    background-color: lightgrey;
    padding-top:100%;
    margin:auto;
    background-size:cover;
    background-image:url(../../../../assets/home/resource-spotlight.jpg);
}

#takeActionImage {
    width:100%;
    background-color:lightgrey;
    padding-top:100%;
    margin: 0 auto;
    background-image:url(../../../../assets/home/take-action.jpg);
    background-size:cover;
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.row {
    margin:0;
}

.neighborhood-button > p, .watershed-button > p {
    max-width: 281px;
    margin-left: auto;
    margin-right: auto;
}


@media only screen and (min-width:576px)
{
    .container-fluid {
        padding: 30px;
    }

    .neighborhood-button {
        text-align:center;
    }

    .watershed-button {
        text-align:center;
    }

    #takeActionImage, #resourceImage {
        height:475px;
        padding-top:0;
    }
}

@media only screen and (min-width:768px) {
    
}

@media only screen and (min-width:992px) {
    .neighborhood-button {
        margin-left:17%;
    }

    .text-overlay {
        margin-left: -145px;
        position: relative;
        z-index: 2;
    }

    .inner-text-overlay {
        width:82%; 
        position:relative; 
        z-index:2; 
        margin:auto;
        text-align: center;
    }

    .text-over-picture {
        position: relative;
        z-index: 1;
    }

    #topImage {
        width:125%;
        margin-left: -77px;
    }
}

@media only screen and (min-width:1200px) {
    #topImage {
        width:105%;
        margin-top:-16px;
        margin-left: -40px;
    }
}