@use "/src/scss/abstracts" as *;


.underline {
    color: $white;
    text-decoration-line: underline;
    text-decoration-color: $orange;
    text-decoration-thickness: 6px;
}


.page {
    font-family: $dm-sans;
    color: $blue-dark;

    &-content {
        margin: 2rem 5rem;
        @include desktop-medium {
            width: 80%;
        }
    }

    &-title {
        font-family: $koulen;
        font-size: $type-size-1000;

        &-hr {
            border-top: 1px solid $white;
            opacity: .6;
            &-dark {
                border-top: 1px solid $blue-dark;
                opacity: .6;
            }
        }
    }

    &-info {
        font-size: $type-size-300;
        line-height: 1.25;
    }

    &-highlight {
        display: inline-block;
        color: $white;
        background-color: $orange;
        font-size: $type-size-200;
        padding: 10px 8px 8px 8px;
        border-radius: 4px;
    }

    &-block {
        height: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
    }

    &-section {
        line-height: 25px;
        margin-bottom: 2rem;

        &.small {
            font-size: $type-size-200
        }

        &-title {
            font-family: $koulen;
            font-size: $type-size-800;
            color: $white;
            margin-top: 4px;
            margin-bottom: 12px;

            &.small {
                font-size: $type-size-600;
            }
        }

        &-light {
            display: inline-flex;
            padding: 32px;
            align-items: center;
            border-radius: 8px;
            border: 1px solid rgba(43, 100, 114, 0.10);
            background: rgba(255, 255, 255, 0.20);
            box-shadow: 2px 2px 8px 0px rgba(0, 0, 0, 0.10) inset;
        }
    }

    &.user {
        @include desktop-medium {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem 0.5rem;
        }
    }
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


.bold-hr {
    border-top: 2px solid $white;
}

.dark-hr {
    border-top: 1px solid $blue-dark;
    opacity: 0.6;
}

.bullet-block {
    display:flex;
    gap: 16px;

    &-number {
        height: 56px;
        width: 56px;
    }
}

.img-shadow {
    filter: drop-shadow(1px 9px 19px rgba(0, 0, 0, 0.10)) drop-shadow(12px 77px 47px rgba(0, 0, 0, 0.05)) drop-shadow(5px 34px 35px rgba(0, 0, 0, 0.09)) drop-shadow(22px 136px 55px rgba(0, 0, 0, 0.01)) drop-shadow(34px 213px 60px rgba(0, 0, 0, 0.00));
}

.explorer {
    &-search {
        margin: 0 4rem 2px;
        display:flex;
        flex-wrap: wrap;
        gap: 8px;
    }

    &-map {
        height:calc(100vh - 60px);
        margin: 0 4rem;
        border: 10px solid #FFF;
        filter: drop-shadow(0px 13px 30px rgba(0, 0, 0, 0.10)) drop-shadow(0px 54px 54px rgba(0, 0, 0, 0.09)) drop-shadow(0px 121px 73px rgba(0, 0, 0, 0.05)) drop-shadow(0px 216px 86px rgba(0, 0, 0, 0.01)) drop-shadow(0px 337px 94px rgba(0, 0, 0, 0.00));
    }
    &-info {
        margin: 0 4rem;
        &-wrapper {
            color: $blue-dark;
            padding: 16px;
            border-radius: 4px;
            background: #FFF;
            box-shadow: 0px 58px 16px 0px rgba(0, 0, 0, 0.00), 0px 37px 15px 0px rgba(0, 0, 0, 0.01), 0px 21px 13px 0px rgba(0, 0, 0, 0.05), 0px 9px 9px 0px rgba(0, 0, 0, 0.09), 0px 2px 5px 0px rgba(0, 0, 0, 0.10);
            width: 450px;
            top: 5vw;
            left: 5vw;
        }

        &-block {
            display: flex;
            flex-wrap: wrap;
            height: 100%;
        }

        &-title {
            font-family: $koulen;
            font-size: $type-size-700;
            font-weight: 500;
        }
    }
}

.dark-panel {
    background: $blue-dark;
    border-radius: 4px;
    color: $white;
    width:100%;
    height: auto;
    padding: 16px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 8px;
}

// The normalize stylesheet overwrites this rule as relative, which causes positioning issues with the map controls.
// Revert to static to prevent.
.leaflet-control-container {
    position:static;
}

.breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: .75rem 0rem;
    margin-bottom: 1rem;
    list-style: none;
}

.breadcrumb-item+.breadcrumb-item {
    padding-left: .5rem;
    color: $blue-dark;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: .5rem;
    color: $blue-dark;
    content: "/";
}

.drool-link {
    display: flex;
    gap: $spacing-200;
    align-items: center;
    color: $white;
    font-size: $type-size-200;
    line-height: 1em;
    display: inline-block;
    transition: all 200ms ease;
    position: relative;

    &::after {
        transition: all 200ms ease;
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        background: transparent;
        position: absolute;
        left: 0;
        bottom: -4px;
    }

    &.active {
        &::after {
            background: $orange;
        }
    }

    &:hover {
        color: $white;
        text-decoration: none;
        &::after {
            background: $orange;
        }
    }

    &.disabled {
        pointer-events: none;
        cursor: default;
        color: lightgray;
    }
}

// form styles begin
.drool-card {
    color: #2B6472;
    padding: 16px;
    border-radius: 4px;
    background: #FFF;
    box-shadow: 0px 58px 16px 0px rgba(0, 0, 0, 0), 0px 37px 15px 0px rgba(0, 0, 0, 0.01), 0px 21px 13px 0px rgba(0, 0, 0, 0.05), 0px 9px 9px 0px rgba(0, 0, 0, 0.09), 0px 2px 5px 0px rgba(0, 0, 0, 0.1);

    &-header {
        color: $white;
        background: $blue-dark;
        border-radius: 4px;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;
    }

    &-title {
        font-weight:900;
        font-size: $type-size-300;
    }

    & dt {
        font-weight: 600;

        @include desktop-large {
            text-align: right;
        }
    }
}

.drool-input {
    width: 100%;
    border-radius: 4px;
    border: 1px solid $blue-dark;
    padding: 16px;
    background: $white;

    & select {
        background: transparent;
        border: none;
        width: 100%;

        &:focus {
            outline-offset: 16px;

        }
    }
}

.required:after{
    content: '\f0e7';
    font-weight:900;
    margin-left:5px;
    font-size:10px;
    font-family: 'Font Awesome 5 Free';
    vertical-align: top;
  }
// end form styles

// begin alert styles
.alert-panel {
color: black;
background: #F3AA1C;
border-radius: 4px;
border: 1px solid #CBA150;
padding: 16px;
padding-right: 3rem;
margin: 12px 0;
width: 100%;

    & .close {
        background: transparent;
        border: none;
        color: #fff;
        position: absolute;
        right: 0;
        top: 0;
        padding: 1rem;
    }
}
// end alert styles
