<div class="row text-center">
    <p class="b2">That would be enough to fill <strong>{{integerPools() | number:'1.0-0':'en-US'}} Olympic swimming pools!</strong></p>
    <ng-container *ngIf="showAllPools()">
        <img src="/assets/fact-sheet/OlympicPool-21fc9e.png" style="width:19%; margin:3%;" *ngFor="let item of array(numberOfPools)"/>
    </ng-container>
    <ng-container *ngIf="!showAllPools()">
        <div class="col text-center">
            <img src="/assets/fact-sheet/OlympicPool-21fc9e.png" style="width:85%; margin-left:15%;"/>
        </div>
        <div class="col text-left">
            <h1 style="margin-top:130px;;">x {{integerPools()}}</h1>
        </div>
        
    </ng-container>
</div>