<div class="page topo-layer-no-gradient">
    <div class="flex-center">
        <div class="page-content topo-layer-above">
            <div class="grid-12">
                <div class="g-col-12">
                    <span class="page-title">Map <span class="underline">Explorer</span></span>
                    <hr class="page-title-hr"/>
                    <p class="page-info width-60">Lorem ipsum dolor sit amet consectetur. Mauris feugiat sit porta egestas ut nullam commodo. Amet aenean turpis aenean rhoncus. Ut feugiat tortor aliquam elementum in malesuada ut. Netus sagittis mi nunc rhoncus aenean duis congue. Praesent etiam commodo tortor felis.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="topo-layer-above">
        <div id="searchElement" style="margin: 0 4rem 2px;">
            <ng-select
                name="search"
                [ngModel]="searchAddress"
                [items]= "searchAddress$ | async"
                bindLabel="display_name"
                [typeahead]="searchResults$"
                [minTermLength]="4"
                [loading]="currentlySearching"
                placeholder="Search for an address"
                typeToSearchText="Begin typing to search"
                (change)="makeNominatimRequest($event)"
            ></ng-select>
        </div>
        <div class="mobile-stats-containing-div">
            <div id="collapsePanel"
                class="mobile-stats metrics-collapse"
                [ngbCollapse]="areMetricsCollapsed" (click)="$event.stopPropagation();">
                <div class="explorer-info">
                    <div class="explorer-info-wrapper">
                        <div style="display:flex; gap: 8px;">
                            <div style="flex: 0 0 auto;">
                                <img style="width: 200px;" src="{{ watershedImage }}"/>
                            </div>
                            <div class="explorer-info-block">
                                <button  *ngIf="searchActive" class="btn__close" style="padding:0" type="button" [attr.aria-expanded]="!areMetricsCollapsed" aria-expanded="false" aria-controls="collapsePanel"
                                aria-label="Toggle navigation" (click)="showMetrics($event)" >
                                    <i class="fas fa-times-circle"></i>
                                </button>
                                <p class="mt-4">Where does our drool go?</p>
                                <p class="mt-2">This neighborhood drains to <strong>{{selectedNeighborhoodWatershed}}</strong> and the Pacific Ocean!</p>
                            </div>
                        </div>
                        <div class="dark-panel mt-4">
                            <p>View Rebates and learn more about water efficiency</p>
                            <a href="https://www.mnwd.com/rebates/" target="_blank" class="btn btn-orange btn-sm">Rebate Programs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div #mapDiv id={{mapID}} class="explorer-map location-card">
            <div [hidden]="!searchActive || !showMapButtons" id="buttonDiv" [class]="layerControlOpen ? 'shifted' : ''">
                <button id="traceButton" (click)="displayTraceOrZoomToNeighborhood($event)"
                    class="btn btn-orange">{{traceActive ? "Zoom to my Neighborhood" : "Where does my water go?"}}</button>
                <br/>
                <button *ngIf="areMetricsCollapsed && traceActive" class="btn btn-orange mt-1" [attr.aria-expanded]="!areMetricsCollapsed"
                    aria-expanded="false" aria-controls="collapsePanel" aria-label="Toggle navigation"
                    (click)="showMetrics($event)">
                    <span>Drool Stats</span>
                </button>
            </div>
        </div>
    </div>
</div>
