
<div class="home">
    <div class="home-content">
        <div class="grid-12">
            <div class="home-section g-col-7">
                <p class="home-title">Urban drool contributes to over more than <span class="underline">1 million gallons of polluted discharge</span> to Aliso Creek each day.</p>
            </div>
            <div class="g-col-5">
                    <div class="flex-end">
                        <img src="./assets/home/image_1.jpg">
                        <p class="home-image-text mt-1">Aliso Creek</p>
                    </div>
            </div>
            <div class="home-section g-col-12 mt-4">
                <p class="home-title"><span class="underline">What</span> is urban drool?</p>
                <p class="home-section-copy mt-2 text-center width-70" >Urban drool is water that discharges off your property due to overwatering landscape or car washing, picks up fertilizer, bacteria, and other contaminants on its way to creeks and beaches.</p>
            </div>
            <div class="g-col-12 grid-12">
                <div class="g-col-4">
                    <img src="./assets/home/image_3.jpg">
                </div>
                <div class="g-col-4">
                    <img src="./assets/home/image_2.jpg">
                </div>
                <div class="g-col-4">
                    <img src="./assets/home/image_4.png">
                </div>
            </div>
            <div class="home-section g-col-12 mt-6 mb-4">
                <p class="home-title width-40 text-center"><span class="underline">Where</span> does urban drool in our community go?</p>
            </div>
            <div class="g-col-8">
                <img src="./assets/home/image_5.png">
            </div>
            <div class="home-section g-col-4" style="justify-content: start; padding-top: 9rem; align-items: start;">
                <p class="home-section-copy" style="text-align: left;">Lorem ipsum dolor sit amet consectetur. Mauris feugiat sit porta egestas ut nullam commodo. Amet aenean turpis aenean rhoncus. Ut feugiat tortor aliquam elementum in malesuada ut. Netus sagittis mi nunc rhoncus aenean duis congue. Praesent etiam commodo tortor felis.</p>
                <button type="button" class="btn btn-orange mt-4">View the Map Explorer</button>
            </div>
            <div class="g-col-6">
                <p class="home-title"><span class="underline">How</span> does urban drool impact the environment?</p>
                <p class="home-section-copy home-section-copy-dark mt-4">Urban drool is water that discharges off your property due to overwatering landscape or car washing, picks up fertilizer, bacteria, and other contaminants on its way to creeks and beaches.</p>
                <button type="button" class="btn btn-orange mt-4">Discover the impacts</button>
            </div>
            <div class="g-col-6">
                <img src="./assets/home/image_6.png">
            </div>
        </div>
    </div>
</div>
<!-- <div *ngIf="currentUser">
    <div class="container">
        <ngb-alert *ngIf="userIsUnassigned()" [type]="'info'" [dismissible]="false">
            <span>
                Welcome {{currentUser.FullName}}. You have successfully logged in to the Orange County Urban Drool Tool,
                but your
                account is not yet configured. You will receive an email from the OC
                Administrators when your account is
                ready to
                use. You may <a routerLink="/help">Request Support</a> to contact the Administrators with any questions or
                comments.
            </span>
        </ngb-alert>

        <ngb-alert *ngIf="userRoleIsDisabled()" [type]="'info'" [dismissible]="false">
            <span>
                Your account is currently disabled. Please <a routerLink="/help">Request Support</a> if you would like to
                activate your account.
            </span>
        </ngb-alert>

        <app-alert-display></app-alert-display>
        <drooltool-social-media-sharing></drooltool-social-media-sharing>
        <div class="row homeSection">
            <div class="col-12 col-lg-7 text-center order-lg-last">
                <h1>Only rain down the drain</h1>
                <div>
                    <p class="b1">
                        Water that discharges off your property due to overwatering landscape or car washing, picks up fertilizer, bacteria, and other contaminants on
                        its way to creeks and beaches.
                    </p>
                    <br/>
                    <p class="b1">
                        <strong>This is Urban Drool. And it starts in a gutter near you...</strong>
                    </p>
                    <br/>
                    <p class="b1">
                        This “Urban Drool” contributes to more than <span class="d-inline-block"><strong>1 million gallons</strong></span>
                        of polluted discharge to
                        Aliso Creek each day. But small changes in how you use outdoor water can help eliminate urban drool and save you money.
                    </p>
                    <br/>
                </div>
            </div>
            <div class="col-12 col-lg-5 order-lg-first text-over-picture">
                <img id="topImage" src="./assets/home/top-image.png">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row homeSection">
            <div class="col-12 col-lg-8 m-lg-auto order-lg-last">
                <div class='embed-container'>
                    <iframe src='https://www.youtube.com/embed/kohqy9jmZY0' frameborder='0' allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-12 col-lg-4 m-lg-auto text-center order-lg-first" style="z-index:2">
                <div>
                    <h1>Take action in your community!</h1>
                    <p class="b2">
                        Moulton Niguel Water District and the Municipal Water District
                        of Orange County offer a variety of rebate programs you can participate
                        in to reduce the amount of urban drool your household may create.
                    </p>
                    <p class="b2">
                        <a routerLink="/take-action" routerLinkActive="true">Check out rebate programs</a>
                    </p>
                </div>

            </div>
        </div>
        <div class="row homeSection">
            <div class="col-12 text-center">
                <div class="row">
                    <div class="col-12">
                        <h1>Resource Spotlight</h1>
                        <p class="b2" style="margin-bottom:0"><a routerLink="/take-action" routerLinkActive="true">Explore
                                more Resources</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div id="resourceImage" style="margin: 30px auto"></div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-md-6 offset-md-3">
                        <h3 class="mt-1">New Rebate Option: <br>
                            Weather-Based Smart Sprinkler Timers
                        </h3>
                        <p class="b3">Moulton Niguel Water District offers a variety of rebate programs you can join
                            to reduce the opportunities your household has to create
                            urban drool.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center" style="margin-top:80px">
            <div class="col text-center mt-auto">
                <img id="waterPlantsImage" src="./assets/home/water-plants.png">
            </div>
        </div>
    </div>
</div>
<div *ngIf="!currentUser" class="container">
    <div class="row" style="padding-top: 80px; justify-content: center; align-items: center;">
        <img id="underConstruction" src="./assets/home/under-construction.png" style="max-height: 200px;">
        <h1>Site Under Construction</h1>
    </div>
</div> -->
