@use "/src/scss/abstracts" as *;

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $blue-dark;

    &-content {
        margin-top: 4rem;
        width: 70%;
    }

    &-title {
        font-family: $koulen;
        color: $blue-dark;
        font-size: $type-size-900;
        line-height: 1;
    }

    &-img-section {
        display:flex;
        align-items: end;
        justify-content: end;
        flex-wrap: wrap;
    }

    &-image-text {
        font-family: $dm-sans;
        font-size: $type-size-200;
        color: $white;
        font-style: italic;
        text-align: right;
    }

    &-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        position: relative;
        z-index: 3;

        &-copy {
            font-family: $dm-sans;
            font-size: $type-size-400;
            color: $white;
            line-height: normal;
            font-weight: 300;
        }

        &-copy-dark {
            color: $blue-dark;
            text-align: left;
        }

        &.start {
            align-items: start;
            justify-content: start;
            padding-top: 9rem;
        }
    }
}
