<ng-container *ngIf="currentUser">
    <div class="home topo-layer">
        <div class="home-content topo-layer-above">
            <div class="grid-12">
                <div class="home-section g-col-7">
                    <p class="home-title">Urban drool contributes to over more than <span class="underline">1 million gallons of polluted discharge</span> to Aliso Creek each day.</p>
                </div>
                <div class="home-img-section g-col-5">
                    <img src="./assets/home/image_1.jpg">
                    <p class="home-image-text mt-1">Aliso Creek</p>
                </div>
                <div class="home-section g-col-12 mt-4">
                    <p class="home-title"><span class="underline">What</span> is urban drool?</p>
                    <p class="home-section-copy mt-2 text-center width-70" >Urban drool is water that discharges off your property due to overwatering landscape or car washing, picks up fertilizer, bacteria, and other contaminants on its way to creeks and beaches.</p>
                </div>
                <div class="g-col-12 grid-12">
                    <div class="g-col-4">
                        <img src="./assets/home/image_3.jpg">
                    </div>
                    <div class="g-col-4">
                        <img src="./assets/home/image_2.jpg">
                    </div>
                    <div class="g-col-4">
                        <img src="./assets/home/image_4.png">
                    </div>
                </div>
                <div class="home-section g-col-12 mt-6 mb-4">
                    <p class="home-title width-40 text-center"><span class="underline">Where</span> does urban drool in our community go?</p>
                </div>
                <div class="g-col-7">
                    <img class="img-shadow" src="./assets/home/image_5.jpg">
                </div>
                <div class="home-section start g-col-5">
                        <p class="home-section-copy">Lorem ipsum dolor sit amet consectetur. Mauris feugiat sit porta egestas ut nullam commodo. Amet aenean turpis aenean rhoncus. Ut feugiat tortor aliquam elementum in malesuada ut. Netus sagittis mi nunc rhoncus aenean duis congue. Praesent etiam commodo tortor felis.</p>
                    <a [routerLink]="['/map-explorer']" class="btn btn-orange mt-4">View the Map Explorer</a>
                </div>
            </div>
            <div class="grid-12 mt-6">
                <div class="g-col-6 flex-end" style="height: 100%;">
                    <div>
                        <p class="home-title"><span class="underline">How</span> does urban drool impact the environment?</p>
                        <p class="home-section-copy home-section-copy-dark mt-4">Urban drool is water that discharges off your property due to overwatering landscape or car washing, picks up fertilizer, bacteria, and other contaminants on its way to creeks and beaches.</p>
                        <a [routerLink]="['/environmental-impacts']" class="btn btn-orange mt-4">Discover the impacts</a>
                    </div>
                </div>
                <div class="g-col-6">
                    <img src="./assets/home/image_6.png">
                </div>
            </div>
        </div>
    </div>
</ng-container>
<ng-container *ngIf="!currentUser">
    <div class="home">
        <div  class="home-content">
            <div class="grid-12">
                <div class="g-col-12 flex-center">
                    <img id="underConstruction" src="./assets/home/under-construction.png" style="max-height: 200px;">
                    <h1 class="page-title text-center">Site <span class="underline">Under Construction</span></h1>
                </div>
            </div>
        </div>
    </div>
</ng-container>
