@use "/src/scss/variables" as *;

@media only screen and (min-width: 1200px) {
}

@media only screen and (min-width: 992px) {
    .top-section p {
        width: 876px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .top-section p {
        width: 660px;
    }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
    .top-section p {
        width: 470px;
    }
}

@media only screen and (max-width: 575px) {
    .top-section p {
        max-width: 470px;
    }
}

h1,
h2,
h3,
h4,
p {
    color: $header-nav-color;
}

hr {
    border-top: 10px solid rgb(42, 194, 223);
    margin-top: 20px;
    margin-bottom: 20px;
}

.drool-orange-text {
    color: $drool-orange-text;
}

.drool-border {
    border: 5px solid $header-nav-color;
}

.list-of-actions {
    list-style-type: none;
    text-align: center;

    li::before {
        content: "\25E6";
        --webkit-transform: scale(2);
        transform: scale(2);
        color: $drool-orange-text;
        display: inline-block;
        width: 1em;
        margin-left: -1em;
    }

    li {
        color: $header-nav-color;
    }
}

.location-card {
    width: 234px;
}

.watershed-image {
    width: 100%;
    height: auto;
}
