<div class="container">
    <!-- <drooltool-social-media-sharing></drooltool-social-media-sharing> -->
    <div class="row">
        <div class="col text-center top-section">
            <h1 class="mx-auto mt-3">Does my neighborhood mind the gutter?</h1>
            <br />
            <p class="b2 mx-auto">
                Urban drool is made up of water from outdoor overwatering and
                car washing that picks up fertilizer, bacteria, and other
                contaminants on its way to creeks and beaches.
                <br />
                <br />
                This review contains helpful estimates about your neighborhood's
                potential urban drool impact and ways you can help to make a
                difference.
                <br />
                <br />
                Share with your community to spread the word and take action!
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col text-center">
            <p class="b1 drool-orange-text">{{ searchedAddress }}</p>
            <style>
                .leaflet-interactive {
                    cursor: default;
                }
            </style>
            <div
                #mapDiv
                id="{{ mapID }}"
                class="location-card mx-auto"
                [style.min-height]="mapHeight"
            ></div>
        </div>
    </div>
    <hr />
    <div class="row drool-drain-section">
        <div class="col-12 text-center">
            <h2 class="text-center">WHERE DOES OUR DROOL GO?</h2>
        </div>

        <div class="col-12 col-sm-8">
            <p class="b2 text-left" style="margin-top: 12%">
                Your neighborhood drains to {{ drainsToText }} and the
                Pacific Ocean!
            </p>
        </div>
        <div class="col-12 col-sm-4">
            <img src="{{ watershedImage }}" class="watershed-image" />
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col">
            <p class="b2">
                Mindful, simple changes to everyday outdoor water tasks can
                help lower the amount of urban drool your neighborhood
                produces!
            </p>
            <p class="b2">
                Check out the many outdoor water use rebate programs
                available at:<br />
                <a href="https://www.mnwd.com/rebates" target="_blank"
                    ><strong>www.mnwd.com/rebates</strong></a
                >
            </p>
        </div>
    </div>
    <div class="d-sm-none" style="height: 40px"></div>
</div>
