<div class="page user topo-layer-no-gradient">
    <div class="page-content topo-layer-above">
        <div class="grid-12">
            <div class="g-col-12">
                <nav aria-label="breadcrumb" *ngIf="user">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item" aria-current="page">
                            <a routerLink="/users" class="drool-link">Users</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="drool-link" routerLink="/users/{{user?.UserID}}">
                              {{user?.FullName || (user?.FirstName + ' ' + user?.LastName)}}
                            </a>
                          </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            Edit Basics
                        </li>
                    </ol>
                </nav>
                <span class="page-title">{{user?.FullName ||  ((user?.FirstName || user?.LastName) ? (user?.FirstName + ' ' + user?.LastName) : null)}}</span>
                <app-alert-display></app-alert-display>
                <div *ngIf="!!model" class="grid-12 mt-2">
                    <div class="g-col-12">
                        <form class="drool-card width-100" (ngSubmit)="onSubmit(editUserForm)" #editUserForm="ngForm">
                            <div class="grid-12 p-3">
                                <label class="required g-col-5">Role</label>
                                <div class="g-col-7 drool-input">
                                    <select name="RoleID" [(ngModel)]="model.RoleID" (change)="checkReceiveSupportEmails()" required>
                                        <option value=""></option>
                                        <option *ngFor="let role of roles" [ngValue]="role.RoleID">
                                            {{role.RoleDisplayName}}
                                        </option>
                                    </select>
                                </div>
                                <ng-container *ngIf="model.RoleID.toString() === '1'">
                                    <label class="g-col-5 required">Should Receive System Communications?</label>
                                    <div class="g-col-7">
                                        <label class="ml-2">
                                            <input type="radio" name="ReceiveSupportEmails"
                                            [(ngModel)]="model.ReceiveSupportEmails" [value]="true">
                                            Yes
                                        </label>
                                        <label class="ml-2">
                                            <input type="radio" name="ReceiveSupportEmails"
                                            [(ngModel)]="model.ReceiveSupportEmails" [value]="false">
                                            No
                                        </label>
                                    </div>
                                </ng-container>
                                <div class="g-col-12 text-right">
                                    <i class="fas fa-bolt"></i> Required field
                                </div>
                                <div class="g-col-12 flex-end">
                                    <button type="submit" class="btn btn-orange btn-sm" [ngClass]="{disabled: !editUserForm.form.valid || isLoadingSubmit}">
                                        <span *ngIf="isLoadingSubmit" class="fa fa-spinner loading-spinner"></span>
                                        Submit
                                      </button>
                                    <a class="btn btn-secondary btn-sm" routerLink="/users/{{user?.UserID}}">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
