@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Koulen&display=swap");

$dm-sans: "DM Sans", sans-serif;
$koulen: "Koulen", sans-serif;

$header-nav-link-font-weight: inherit;

$font-family-sans-serif: $dm-sans;
$font-size: 16px;
