<footer>
    <div class="footer-action grid-12">
        <div class="g-col-10">
            <p class="footer-action-title">Do your part to curb urban drool</p>
            <p>Lorem ipsum dolor sit amet consectetur. Mauris feugiat sit porta egestas ut nullam commodo. Amet aenean turpis aenean rhoncus. Ut feugiat tortor aliquam elementum in malesuada ut.</p>
        </div>
        <div class="g-col-2 footer-action__btn-wrapper">
            <button class="btn btn-orange-white-outline">Take Action</button>
        </div>
    </div>
    <div class="site-footer grid-12">
        <div class="g-col-12">
            <a routerLink="/" routerLinkActive="active">
                <img src="assets/main/logos/udt_color_logo.png" class="navbar-logo">
            </a>
        </div>
        <div class="g-col-3">
            <p class="footer-title">NAVIGATION</p>
            <hr class="footer-title-underline"/>
            <ul>
                <li>
                    <a routerLink="/" routerLinkActive="active">Home</a>
                </li>
                <li>
                    <a routerLink="/map-explorer" routerLinkActive="active">Map Explorer</a>
                </li>
                <li>
                    <a routerLink="/environmental-impacts" routerLinkActive="active">Environmental Impacts</a>
                </li>
                <li>
                    <a routerLink="/take-actiion" routerLinkActive="active">Take Action</a>
                </li>
            </ul>
        </div>
        <div class="g-col-9">
            <p class="footer-title">PARTNERS</p>
            <hr class="footer-title-underline"/>
            <div class="grid-12">
                <div class="g-col-3">
                    <a href="https://www.mnwd.com" alt="" target="_blank">
                        <img src="assets/main/logos/MNWD_Logo_White_Primary_Preferred_Logo.png" style="height: 55px;">
                    </a>
                </div>
                <div class="g-col-3" style="height: 100%; display: flex; align-items: center;">
                    <a href="http://www.ocpublicworks.com" alt="" target="_blank">
                        <img src="assets/main/logos/oc_public_works_logo.png" style="height: 35px;">
                    </a>
                </div>
                <div class="g-col-3">
                    <a href="https://www.geosyntec.com/about" alt="" target="_blank">
                        <img src="assets/main/logos/Geosyntec_logo.png" style="height: 55px;">
                    </a>
                </div>
                <div class="g-col-3">
                    <a href="https://esassoc.com/" alt="ESA" target="_blank">
                        <img src="assets/main/logos/esa-logo-white.svg" style="height: 55px;">
                    </a>
                </div>
                <div class="g-col-12">
                    <p class="footer-copy">
                        The program is free software; you can redistribute it and/or modify it under the terms of the <a href="https://www.gnu.org/licenses/agpl-3.0.en.html">GNU Affero
                        General Public License</a>.<br>
                        Source code is available on <a href="https://github.com/sitkatech/drooltool" target="_blank">GitHub</a>.
                        Implementation & Hosting by <a href="http://sitkatech.com">ESA</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="g-col-12 text-right">
            <a class="administrator-sign-in" href="https://keystone.sitkatech.com" (click)="login($event)" routerLinkActive="active">Administrator Log In</a>
        </div>
    </div>
</footer>
