@import '~leaflet.fullscreen/Control.FullScreen.css';
@import '~src/scss/_variables.scss';

.section-search {
    background-color: $header-nav-color;
}

.section-stats * h3 {
    color: #1E5668;
    font-weight:bold;
    line-height: 45px;
}

.section-active-search {
    background-color: #D6F1B6;
}

.section-active-search p,
.section-active-search span {
    color: $header-nav-color;
}

.section-rebates {
    background-color: #1E5668
}

.section-rebates p {
    color: white;
    margin-bottom:0;
    max-width: 167px;
}

.section-water-bill {
    background-color: #4DC3D9;
}

.section-water-bill p {
    color: #555555;
    margin-bottom:0;
}

.search {
    background-color: $drool-orange;
    border-color: $drool-orange;
}

.search-close {
    cursor: pointer;
}

::ng-deep .search-popup .leaflet-popup-content-wrapper {
    font-family: "Nunito", sans-serif;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    background-color: #D3F8FF;
    border-style: dashed;
    border-width: 5px;
    border-color: $drool-orange;
    border-radius: 7px
}

::ng-deep .leaflet-popup-tip-container {
    display:none;
}